<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create a New Listing</h3>
            <form method="POST" novalidate class="needs-validation" action="/listings" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Enter title    eg.XYZ Villa" type="text"
                        class="form-control" required>
                    <div class="invalid-feedback">Enter valid Title</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter description" type="text"
                        class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short descriptions</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing image</label>
                    <input name="listing[image]"  type="file" class="form-control">
                    
                    <div class="invalid-feedback"></div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                     <label for="price" class="form-label">Price</label>
                     <input name="listing[price]" placeholder="40,000" class="form-control"required/>
                     <div class="invalid-feedback">Price should be valid</div>
                   </div> 
                   <div class="mb-3 col-md-8">
                     <label for="category" class="form-label">Category</label>
                     <select name="listing[category]" class="form-select" required>
                         <option value="1">Rooms</option>
                         <option value="2">Iconic Cities</option>
                         <option value="3">Mountains</option>
                         <option value="4">Beaches</option>
                         <option value="5">Pool</option>
                         <option value="6">Camping</option>
                         <option value="7">Resort</option>
                         <option value="8">Arctic</option>
                         <option value="9">OMG</option>
                         <option value="10">Tree house</option>
                         <option value="11">Boats</option>
                     </select>
                     <div class="invalid-feedback">Please select a category</div>
                   </div>
                 </div>
                 <div class="row">
                    <div class="mb-3 col-md-4">
                      <label for="location" class="form-label">Location</label>
                      <input name="listing[location]" placeholder="Jaipur, Rajasthan" type="text" class="form-control"required/>
                      <div class="invalid-feedback">Location should be valid</div>
                    </div>
                
                      <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" placeholder="India" type="text" class="form-control" required/>
                        <div class="invalid-feedback">Countary name should be valid</div>
                      </div>
                    </div>

                <button type="submit" class="btn btn-dark add-btn">Add</button>
            </form>
            <br><br>
        </div>
    </div>